
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    position: relative;
    width: 270px;
    min-height: 500px;
    border: 9px solid #000;
    border-radius: 25px;
    background: #0dfcc0;
}

.phone::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 5%;
    background: #000;
    left: 20%;
    top: -1px;
    border-radius: 0 0 15px 15px;
}

.phone::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    left: 70%;
    top: 10px;
}