body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

#err-msg {
    color: red;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: blueviolet;
    padding: 50px;
}

.err {
    border: 1px solid red !important;
}

.input {
    width: 300px;
    border: none;
    outline: none;
    padding: 5px 10px;
}